<div class="ct_celebrity-star-collection   section-id-{{ section.id }} collection-slider-row for-collections {% if section.settings.use_alt_bg %}use-alt-bg{% endif %}" data-section-type="featured-collections">
  <div class="container{% if section.settings.enable_carousel %} container--not-mobile{% endif %}{% if section.settings.full_width %} container--no-max{% endif %} strongly-spaced-row">
    <div class="celebrity-slider {% if section.settings.enable_carousel %}collection-slider{% endif %}">
      <h2 class="hometitle h1-style align-center has-paging" data-cc-animate data-cc-animate-delay="0.3s">
        <span class="has-paging__title">{{ section.settings.title | escape }}</span>
        <div class="collection_slider-box">
          <div class="collection-chevron-icon">
            {% if section.settings.enable_carousel %}<a class="prev" href="#">{% render 'svg-chevron-left' %}</a>{% endif %}
            {% if section.settings.enable_carousel %}<a class="next" href="#">{% render 'svg-chevron-right' %}</a>{% endif %}
          </div>
        </div>
      </h2>
      <div class="collection-listing" data-cc-animate="cc-fade-in-up">
        <div class="celebrity-list product-list product-list--per-row-{{ section.settings.grid }} product-list--per-row-mob-{{ settings.prod_thumb_mob_per_row }} product-list--image-shape-{{ settings.coll_grid_image_shape }} {% if section.settings.enable_carousel %}carousel{% endif %}">
          {% if section.blocks.size > 0 %}
            {%- liquid
              if settings.coll_grid_image_shape == 'portrait-23'
                assign chosen_aspect_ratio = 0.67
              elsif settings.coll_grid_image_shape == 'portrait-45'
                assign chosen_aspect_ratio = 0.8
              elsif settings.coll_grid_image_shape == 'square'
                assign chosen_aspect_ratio = 1.0
              elsif settings.coll_grid_image_shape == 'landscape-54'
                assign chosen_aspect_ratio = 1.25
              elsif settings.coll_grid_image_shape == 'landscape-32'
                assign chosen_aspect_ratio = 1.50
              elsif settings.coll_grid_image_shape == 'tallest'
                assign chosen_aspect_ratio = 999
                for block in section.blocks
                  if block.settings.image != blank
                    if block.settings.image.aspect_ratio < chosen_aspect_ratio
                      assign chosen_aspect_ratio = block.settings.image.aspect_ratio
                    endif
                  endif
                endfor
              else
                assign chosen_aspect_ratio = 0
                for block in section.blocks
                  if block.settings.image != blank
                    if block.settings.image.aspect_ratio > chosen_aspect_ratio
                      assign chosen_aspect_ratio = block.settings.image.aspect_ratio
                    endif
                  endif
                endfor
              endif
            -%}

            {% for block in section.blocks %}

              {% unless block.settings.image == blank %}
                {% render 'collection-block-celebrity', link: block.settings.link , custom_attrs: block.shopify_attributes, manual_image_load: section.settings.enable_carousel, custom_image: block.settings.image, custom_aspect_ratio: chosen_aspect_ratio, celeb_name: block.settings.celeb_name, celeb_info: block.settings.celeb_info, button_label: block.settings.button_label, button_url: block.settings.button_url %}
              {% else %}
                {% render 'onboarding-collection-block', forloop: forloop %}
              {% endunless %}
            {% endfor %}

          {% else %}

            {% for i in (1..6) %}
              {% render 'onboarding-collection-block', forloop: forloop %}
            {% endfor %}

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Celebrity Collection",
    "class": "section-collection-list",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "checkbox",
        "id": "enable_carousel",
        "label": "Enable carousel",
        "default": true
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Collections per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "use_alt_bg",
        "label": "Use alternate section color",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "text",
            "id": "celeb_name",
            "label": "Celebrity Name"
          },
          {
            "type": "text",
            "id": "celeb_info",
            "label": "Info"
          },
		  {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Celebrity Collection",
        "settings": {
        },
        "blocks": [
        ]
      }
    ]
  }
{% endschema %}
