<style>

    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


     @font-face {
      font-family: 'Afterglow Regular';
      font-style: normal;
      font-weight: normal;
      src:  url('https://cdn.shopify.com/s/files/1/0796/1959/files/Afterglow-Regular.woff?v=1700635717') format('woff');
      }

    .wead-content-head {
      color: #FFF;
      text-align: center;
      font-family: 'Afterglow Regular';
      font-size: 27.828px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
  }
  .swiper_Video{
    padding: 0 12px 40px 12px !important;
  }
   .Wedding-Collection-box_vid .wead-content-text {
      color: #FFF;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-size: 13.914px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      padding: 12px 0;
      height:57px;
  }
  .Wedding-Collection-head {
    width: 100%;
    color: #000;
    text-align: center;
      font-family: 'Inter', sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 47px;
}
   .wead-content a {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 17.577px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 19px;
    border: 1.019px solid #FFF;
    display: inline-flex;
    align-items: center;
    width: max-content;
    padding: 7px 13px;
}
  .Wedding-Collection-box:first-child {
    margin-left: 20px;
}
    .Wedding-Collection-box {
      width: 100%;
      max-width: 303px;
      min-width: 303px;
      border-radius: 14px;
      position: relative;
      line-height: 0;
      margin-right: 12px;
  }
   .Wedding-Collection-box_vid .wead-content {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      border-radius: 0px 0px 18px 18px;
      background: linear-gradient(180deg, rgba(245, 154, 155, 0.00) 0%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.77) 62.19%);
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      padding: 0 16px 25px 16px;
  }
  .link_areo {
    width: 17px;
    margin-left: 4px;
}
  .main_coll_img {
    border-radius: 14px;
    width: 100%;
    height: auto;
}
  .Wedding-Collection-inner {
        display: inline-flex;
    width: auto;
    overflow: hidden;
    overflow-x: auto;
}
.Wedding-Collection {
    display: flex;
        justify-content: center;
  flex-wrap: wrap;
}
 
.Wedding-Collection-box_vid  .wead-content:before {
    content: "";
    width: calc(100% );
    pointer-events: none;
    position: absolute;
    bottom: -1px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='306' height='244' viewBox='0 0 306 244' fill='none'%3E%3Cpath d='M1.1355 0.0500793V227.547C1.1355 235.84 7.85774 242.562 16.15 242.562H290.141C298.433 242.562 305.156 235.84 305.156 227.547V0.0500793' stroke='url(%23paint0_linear_19_249)' stroke-width='1.50145'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_19_249' x1='153.146' y1='0.0500793' x2='153.146' y2='242.562' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CF2228' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23CF2228'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    left: 0;
    height: 100%;
    z-index: 11;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

  .assassas {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(28, 23, 22, 0.52) 0%, rgba(255, 161, 161, 0.00) 0%, rgba(255, 161, 161, 0.52) 100%);
    z-index: -1;
    width: 100%;
    height: 85px;
    border-radius: 0 0 14px 14px;
}

 .Wedding-Collection_style_sec .Wedding-Collection-box {
    background-color: #000;
}
  .CT_swiper-pagination {
    bottom: 0px !important;
}
  .CT_swiper-pagination  span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #A02828;
    background: #FFF;
    opacity: 1;
}
  .CT_swiper-pagination  .swiper-pagination-bullet-active {
    background: #a02828 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}




  
    @media(max-width:1100px){
      .Wedding-Collection-head {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 21px;
}
      .velen_active_sec .Wedding-Collection-head {
    font-size: 27px !important;
}
    .Wedding-Collection-box {
    max-width: 218px !important;
    min-width: 218px !important;
    border-radius: 10px;
    margin-right: 8px;
}
      .main_coll_img {
    border-radius: 10px !important;
      }
      .wead-content {
    border-radius: 0 0 10px 10px !important;
      }
        .Wedding-Collection-box_vid .wead-content {
    border-radius: 0 0 15px 15px !important;
      }
      #shopify-section-template--16041415180444__cbf1c2f4-5adf-4b96-99b2-7855ba7180bd .Wedding-Collection-head {
    padding-top: 33px !important;
}
      .Wedding-Collection-box:first-child {
    margin-left: 20px;
}
      .wead-content-head {
    font-size: 26px !important;
      }
    .velen_active_sec .wead-content-head {
    font-size: 26px !important;
    line-height: 26px !important;
}
      .wead-content-text {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 9px 0;
}
      .wead-content a {
    font-size: 12px;
      }
      .link_areo {
    width: 12px;
    margin-left: 2px;
    margin-top: 2px;
}
      .wead-content a {
    padding: 5px 9px;
}
      .wead-content {
    padding:0 11px 9px 11px;
}
      .wead-content {
    height: 175px;
      }
      .Wedding-Collection-box:last-child{
        margin-right: 20px;
      }
    .Wedding-Collection-box_vid  .wead-content {
    height: 220px;
}
    }

    a.ctreview-box_link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
  video.uvodna__bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
 .velen_active_sec .Wedding-Collection-box_vid:hover .main_coll_img_sec {
    opacity: 1;
}
   .velen_active_sec .Wedding-Collection-box_vid {
    height: 100%;
    min-height: 480px;
}
  .velen_active_sec .Wedding-Collection-head {
    font-family: Marcellus;
}

  

  @media(min-width:640px){
    .Wedding-Collection-box_vid{
          width: 100%;
    max-width: 303px;
    min-width: 303px;
    border-radius: 14px;
    position: relative;
    line-height: 0;
    }

    
  }

  .Wedding-Collection-box_vid{
    overflow: hidden;
  }
  .main_coll_img_sec {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    transition: all 0.25s;
    opacity: 1;
}
  .velen_active_sec .wead-content-head {
    font-family: 'Lato' !important;
}
      .motherday-Collection video{
      display:none;
    }
 .motherday-Collection  .main_coll_img_sec {
    position: relative;
  }
  @media(min-width:640px){
  .Wedding-Collection-box_vid:hover .main_coll_img_sec{
      opacity: 0;
    }  
      .motherday-Collection:hover .main_coll_img_sec{
      opacity: 1;
    }

    .velen_active_sec .swiper-slide-active .main_coll_img_sec {
    opacity: 1;
}
    
  }

   .sub_text_active {
    padding-bottom: 5px;
}
  .Wedding-Collection-head_subtext {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 40px;
    text-align: left;
    color: #CF2228;
        width: 100%;
    text-align: center !important ;
}

  @media(max-width:640px){
    .Wedding-Collection-head_subtext {
    font-size: 18px;
    }
    .swiper-slide-active .main_coll_img_sec{
    opacity: 0;
    }
    .motherday-Collection  .swiper-slide-active .main_coll_img_sec{
    opacity: 1;
    }
    
       .velen_active_sec .swiper-slide-active .main_coll_img_sec {
    opacity: 1;
}
    .velen_active_sec .Wedding-Collection-box_vid {
    min-height: 400px;
}
    .Wedding-Collection-box_vid  .wead-content:before {
    bottom: 0px;
    left: 0;
   }
    .Wedding-Collection-box_vid .wead-content {
    border-radius: 0 0 19px 19px !important;
}
    video.uvodna__bg-video{
      border-radius: 19px;
    }


    .motherday-Collection .Wedding-Collection-head {
    font-family: Lato;
    font-size: 29px;
    font-weight: 400;
    line-height: 34.8px;
    text-align: center;
}
   .motherday-Collection .Velen_title {
    font-family: 'Arista Pro';
    font-size: 34px;
    font-weight: 100;
    line-height: 27.39px;
    text-align: left;
    color: #29297C;
     font-weight: 700;
}


    .motherday-Collection {
    padding: 50px 0 20px 0;
}

    .motherday-Collection .swiper-pagination {
    display: none;
}

    
  }

  .motherday-Collection .wead-content-head {
    margin-bottom: 10px;
}
  
  .ct-category-slider-main .swiper-slide-active .main_coll_img_sec {
    opacity: 1;
}
  .swiper_Videosec .main_coll_img {
    position: relative;
  }
  .ct-category-slider-main .Wedding-Collection-box_vid:hover .main_coll_img_sec {
    opacity: 1;
}
  .ct-category-slider-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
  .ct-category-slider-head {
    width: 100%;
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 35px;
}
  @media(max-width:640px){
    /* .ct-category-slider-head{
      padding-top: 20px;
    } */
  }

</style>



<div class="ct-category-slider-main motherday-Collection">
<div class="ct-category-slider-head">Shop By Category </div>



  <div class="swiper  swiper_Videosec">
  <div class="Wedding-Collection-inner_vide swiper-wrapper ">
    {% for block in section.blocks %}
      <div class="swiper-slide Wedding-Collection-box_vid">
                <a href="{{ block.settings.link }}" class="ctreview-box_link"></a>

        {% if block.settings.image !=blank %}
        <img
          loading="lazy"
          src="{{ block.settings.image | image_url: width: 400 }}"
          data-src="{{ block.settings.image | image_url: width: 400 }}"
          width="{{ block.settings.image.width }}"
          height="{{ block.settings.image.height }}"
          alt="{{ block.settings.image.alt }}"
          class=" main_coll_img main_coll_img_sec"
        >
        {% endif %}
        <div class="wead-content">
         {% if section.settings.style_sec %} <div class="assassas"></div> {% endif %}
          <div class="wead-content-head">{{ block.settings.heading }}</div>
          
         {% if block.settings.text !=blank %} <div class="wead-content-text">{{ block.settings.text }}</div>{% endif %}

          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}">
              {{ block.settings.link_text }}
              <img
                loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0796/1959/files/Line_arrow-right.png?v=1700636517"
                data-src="https://cdn.shopify.com/s/files/1/0796/1959/files/Line_arrow-right.png?v=1700636517"
                width="18"
                height="18"
                alt=""
                class=" link_areo"
              >
            </a>
          {% endif %}
        </div>


    


        
      </div>
    {% endfor %}
  </div>

      <div class="swiper-pagination CT_swiper-pagination"></div>
    
  </div>  




  
  
</div>


<script>

  var swiper_Videosec = new Swiper('.swiper_Videosec', {
    loop: false,
    
    effect: 'coverflow',
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: '1.3',
    coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 200,
        modifier: 1,
        slideShadows: false,
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },


         breakpoints: {
            640: {
              slidesPerView: "auto",
              spaceBetween: 12,
              centeredSlides: false,
              loop: false,
              effect: false,  
              pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
               
            }
          },

})


  
   // var swipervidesec = new Swiper(".swiper_Videosec", {   
   //    effect: "coverflow",
   //    grabCursor: true,
   //    centeredSlides: true,
   //    slidesPerView: "1.3",
   //     loop: false,
   //        pagination: {
   //          el: '.swiper-pagination',
   //          clickable: true,
   //        },
        
   //      on: {     
   //                slideChange: darkNav    
   //              },
    
   //    coverflowEffect: {
   //      rotate: 0,
   //      stretch: 0,
   //      depth: 200,
   //      modifier: 1,
   //      slideShadows: true
   //    },
    
   //      breakpoints: {
   //          640: {
   //            slidesPerView: "auto",
   //            spaceBetween: 12,
   //            centeredSlides: false,
   //            loop: false,
   //            effect: false,  
   //            pagination: {
   //          el: '.swiper-pagination',
   //          clickable: true,
   //        },
               
   //          }
   //        },
        
   //  });
</script>


{% schema %}
  {
    "name": "ct-category-slider",
    "class": "ct-category-slider",
    "settings": [],
     "blocks":[{
    "type":"Box",
    "name":"Collection Box",
    "settings":[
      {
        "type": "image_picker",
        "id": "image",
        "label": "Collection Image"
      },
      {
          "type": "text",
          "id": "heading",
          "label": "Heading"
      },
      {
          "type": "text",
          "id": "text",
          "label": "Sub-text"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button link"
      },
      {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default":"Explore"
      }



    ]
  }],
    "presets":[{
    "name": "ct-category-slider"
    }]
  }
{% endschema %}