<style>

@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;500;700;900&display=swap');

  .brecker-img-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 32px 0;
}
  .middle-bg-breck img {
    width: 230px;
    height: auto;
}
  .middle-bg-text{
    font-size: 30px;
    font-weight: 400;
    line-height: 48.8px;
    text-align: center;
    font-family: "Vesper Libre", serif;
    color:#9F8B73;
  }
  .section-brecker-img {
    position: relative;
}
  .left-bg-breck {
    width: 33px;
    position: absolute;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    top:0;
    left:0;
    background-position: center;
}
  .right-bg-breck {
    width: 33px;
    position: absolute;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    top:0;
    right:0;
    background-position: center;
}
  .middle-bg-breck a {
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: rgba(69, 69, 69, 1);
    padding: 12px 18px;
    border: 1px solid rgba(69, 69, 69, 1);
    border-radius: 6px;
    margin-top: 20px;
    display: inline-block;
}
  @media(max-width:750px){
  .middle-bg-breck img {
    width: 128px;
  }
    .middle-bg-text {
    font-size: 16px;
    line-height: 22px;
}
    .right-bg-breck , .left-bg-breck{
    width: 18px;
      top:50%;
      transform: translateY(-50%);
}
  }
</style>
    
    
    <div class="section-brecker-img">
      <div class="brecker-img-inner">
        <div class="left-bg-breck" style=" background-image: url('{{ section.settings.img_br | img_url:'master' }}' ); "></div>
        <div class="middle-bg-breck">
          <img src="{{ section.settings.img | img_url:'master' }}" alt="">
          <div class="middle-bg-text">{{ section.settings.text }}</div>
          {% if section.settings.link !=blank %}
            <a href="{{ section.settings.link }}">{{ section.settings.link-text }}</a>
          {% endif %} 
        </div>        
        <div class="right-bg-breck"  style=" background-image: url('{{ section.settings.img_br | img_url:'master' }}' ); " ></div>
      </div>
    </div>

{% schema %}
  {
    "name": "section-brecker-img",
    "class": "section-brecker-img",
    "settings": [
      {
        "type": "image_picker",
        "id": "img_br",
        "label": "Side BG Image"
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Middle Image"
      },
      {
          "type": "textarea",
          "id": "text",
          "label": "Text"
      },
      {
          "type": "url",
          "id": "link",
          "label": "Button Link"
      },
      {
          "type": "text",
          "id": "link-text",
          "label": "Button Text"
      }


    ],
    "presets": [{
    "name": "section-brecker-img"
    }]
  }
{% endschema %}