<style>
          @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

     @font-face {
        font-family: 'Afterglow Regular';
        font-style: normal;
        font-weight: normal;
        src:  url('https://cdn.shopify.com/s/files/1/0796/1959/files/Afterglow-Regular.woff?v=1700635717') format('woff');
        }

    .look_main_head .container{
        padding-left: 20px;
      padding-right: 20px;
      max-width:1606px;
    }

    @media(max-width:1100px){
      .ct_wedding_bg .icon-with-caption {
      min-height: 86px;
  }
      #shopify-section-template--16041415180444__9a62de5d-2a7e-4cd9-8345-e59da04fdbb7 .container {
      margin-top: 40px;
  }

  .ct_wedding_bg .icon-with-caption {
    padding-top: 0;
      padding-bottom: 0;
  }
      .ct_wedding_bg .icon-with-caption .icon-with-caption__text {
      margin: 3px 0 0;
      font-family: 'Lato', sans-serif;
      color: #000;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 122.023%;
  }

    }





      .look_product {
        width: 100%;
        max-width: 300px;
        min-width: 300px;
        margin-right: 12px;
        position: relative;
        min-height: 490px;
    }
      .tabsshopmain_head {
        color: #000;
        text-align: center;
        font-family: 'Inter', sans-serif;

        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 48px;
    }
      .look_main_right {
        display: inline-flex;
        width: auto;
        overflow: hidden;
        overflow-x: auto;
    }
      .lookImg img {
        width: 100%;
        height: auto;
    }
      button.lookbtn_main {
        display: flex;
        width: 100%;
        height: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 11.248px;
        flex-shrink: 0;
        border-radius: 140.601px;
        background: var(--Pink-Gradient, linear-gradient(270deg, #E30058 7.05%, rgba(223, 0, 86, 0.93) 23.65%, rgba(218, 0, 84, 0.82) 33.57%, rgba(194, 0, 75, 0.00) 85.12%), #C71D22);
        border: 0;
            color: #fff;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 16.872px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
      ul.tabsshop li a {
        color: #000;
        white-space: nowrap;
            font-family: 'Lato', sans-serif;
        font-size: 26.431px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        height: 75.519px;
        padding: 18px 38px;
        justify-content: center;
        align-items: center;
        gap: 18.88px;
        border-radius: 188.796px;
        border: 1.888px solid #D7D7D7;
        opacity: 0.8;
        background: #FFF;
    }
      ul.tabsshop li a.active{
            color: #C51D23;
        border: 1.888px solid #C51D23 !important;
      }
      .tabsshop {
            display: inline-flex;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        justify-content: center;
    }
      .tabsshopmain {
        text-align: center;
            display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-top: 93px;
    }
      .look_main_inner {
        width: 100%;
        max-width: 1566px;
        margin: 0 auto;
    }
      .look_main {
        position: relative;
    }
      .look_main_sub_text {
        color: #717171;
        font-size: 27px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 42px;
        padding-bottom: 22px;
        text-align: left;
    }
      .look_main_left img {
        width: 100%;
        max-width: 1096px;
    }
      .look_content {
        position: absolute;
        padding: 15px 15px 15px 15px;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
        /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 0%, rgba(208, 0, 0, 0.00) 0%, rgba(234, 139, 139, 0.55) 24%, #FFF 46%); */
    }
      .lookTItle {
        color: #000;
        font-family: Lato;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
      .look_content_bg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
        background: rgb(234,140,140);
        background: linear-gradient(180deg, rgba(234,140,140,0) 0%, rgba(255,255,255,1) 50%);
        height: 215px;
        border-radius: 16px;
    }
      .lookImg:before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -1px;
        height: 100%;
        z-index: 11;
        background-size: 100%;
        pointer-events: none;
        background-repeat: no-repeat;
        background-position: bottom;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='299' height='268' viewBox='0 0 299 268' fill='none'%3E%3Cpath d='M0.771484 0.615234V251.213C0.771484 259.586 7.55916 266.374 15.9322 266.374H282.729C291.102 266.374 297.889 259.586 297.889 251.213V0.615234' stroke='url(%23paint0_linear_688_542)' stroke-width='1.51607'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_688_542' x1='149.33' y1='0.615234' x2='149.33' y2='266.374' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CF2228' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23CF2228'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        }
      .lookImg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
      .lookImg {
        height: 100%;
    }
      .lookprice {
        color: #000;
        font-size: 23.902px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-family: 'Lato', sans-serif;
        margin-bottom: 0px;
    }
  .lookbtn {
    margin-top: 3px;
}
    button.ct_atc_all:hover {
      background: var(--Pink-Gradient, linear-gradient(270deg, #E30058 7.05%, rgba(223, 0, 86, 0.93) 23.65%, rgba(218, 0, 84, 0.82) 33.57%, rgba(194, 0, 75, 0.00) 85.12%), #C71D22);
      color: #fff;
      border-color: var(--Pink-Gradient, linear-gradient(270deg, #E30058 7.05%, rgba(223, 0, 86, 0.93) 23.65%, rgba(218, 0, 84, 0.82) 33.57%, rgba(194, 0, 75, 0.00) 85.12%), #C71D22);
  }
      .lookPrice_text {
        color: #242424;
            font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-top: 5px;
        margin-bottom: 20px;
    }
      .look_main_right {
        position: absolute;
        z-index: 1;
        right: 0;
        top: calc(62% - 26px);
        width: 50%;
        transform: translateY(-62%);
    }
      /* Hide scrollbar for Chrome, Safari and Opera */
    .items_scroll::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .items_scroll {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
      .tabsshop {
        display: inline-flex;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
    }
      .tabsshop li {
        margin-right: 15px;
    }
      .tabsshop li:last-child {
        margin-right: 0px;
    }
    .ct_atc_all {
          color: #CF2228;
      text-align: center;
      font-family: Inter;
      font-size: 27px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-radius: 111.393px;
      border: 2.273px solid #CF2228;
      background: #fff;
      margin-top: 26px;
      padding: 15px 20px 15px 20px;
  }
    .look_main_bottom {
      text-align: center;
  }
    .look_main_price.container {
      color: #CF2228;
       font-family: 'Afterglow Regular';
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 26px;
            text-align: left;
  }

  .lookbtn .quantity-submit-row__submit {
      margin: 0;
  }

      @media(max-width:1550px){
        ul.tabsshop li a {
      font-size: 21px;
      height: 59.519px;
      padding: 9px 24px;
  }
      }
    @media(max-width:1100px){

          .tabsshopmain {
        margin-top: 33px;
    }

      .ct_atc_all {
      padding: 10px;
      font-size: 15px;
      margin-top: 16px;
  }
     .look_main_price.container {
      font-size: 20px;
      margin-bottom: 6px;
  }
      .look_main_head .container {
      max-width: 600px;
  }
                .tabsshopmain_head {
        font-size: 20px;
        margin-bottom: 15px;
                  font-weight: 500;
    }
                ul.tabsshop li a {
        font-size: 14px;
        height: 40px;
        padding: 7px 20px;
    }
                .tabsshop li {
        margin-right: 8px;
    }
                .look_main_sub_text {
        font-size: 12px;
        padding-top: 15px;
        padding-bottom: 5px;
                  text-align: left;
    }

                .look_main_left img {
        max-width: 100%;
        border-radius: 10px;
    }
                .look_main_right {
        position: inherit;
        z-index: 1;
        right: 0;
        top: 0;
        width: 100%;
        transform: translateY(0%);
        margin-top: 20px;
    }
                .look_main_inner {
        padding: 0 20px;
    }
                .look_product {
        max-width: 180px;
        min-width: 180px;
        margin-right: 7px;
        min-height: 300px;
    }
                .lookTItle {
        font-size: 16px;
    }
                .lookprice {

        font-size: 14px;
                }
                .lookPrice_text {
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 6px;
    }
                .look_content {
        padding: 9px 9px 9px 9px;
                }
                button.lookbtn_main {
      height: 24px;
      font-size: 10px;
  }
                .look_content_bg {
      height: 135px;
      border-radius: 10px;
  }
              }
        .look_main_bottom .look_main_head_bottom{
          display:none;
        }

  .ct_custom_badge-wedd {
    top: 15px;
}

  span.CT-wedd-price__compare {
    color: rgba(71, 71, 71, 0.64) !important;
    font-family: 'Lato';
    font-size: 18px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
    text-transform: capitalize;
    margin-right: 6px;
    position: relative;
    text-decoration: none;
}
  span.CT-wedd-price__compare::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='10' viewBox='0 0 37 10' fill='none'%3E%3Cpath d='M1 0.314453L36 9.31445' stroke='%23898989' stroke-width='0.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
    background-size: 100%;
}


    @media(max-width:750px){
      span.CT-wedd-price__compare {
    font-size: 10px !important;
}
      .look_main_bottom{
          display:block;
        }
      .look_main_bottom .look_main_head_bottom {
      display: block;
  }
      .tabsshop {
      justify-content: flex-start;
      padding: 0 20px;
  }
      .look_main_sub_text ,.look_main_price.container{
      text-align: center;
  }
      .ct_atc_all {
      margin-top: 6px;
  }
      .look_main_bottom {
      text-align: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='391' height='95' viewBox='0 0 391 95' fill='none'%3E%3Cpath d='M0.908203 0.280273V83.5188C0.908203 89.0417 5.38536 93.5188 10.9082 93.5188H98.1582M389.908 0.409334V83.5189C389.908 89.0417 385.431 93.5188 379.908 93.5188H292.658' stroke='url(%23paint0_linear_311_1023)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_311_1023' x1='195.408' y1='0.280273' x2='195.408' y2='93.5188' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23CF2228'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      background-size: 100%;
      background-repeat: no-repeat;
        background-position: bottom;
  }
      .look_main_head_top{
        display:none;
      }
      .look_main_left {
      margin-top: 15px;
  }
      .ct_atc_all {
      margin-bottom: -20px;
  }
    }



  .mother-day-collection-tab   .look_main_head {
    display: none;
}
  .look_main_right {
    position: relative;
    z-index: 1;
    right: 0;
    top: inherit;
    width: auto;
    transform: inherit;
}
  .mother-day-collection-tab  .look_main_inner {
    margin: 25px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  .mother-day-collection-tab  .look_main_left {
    display: none;
}
  .mother-day-collection-tab  .look_main_bottom {
    width: 100%;
    display: none;
}
  .mother-day-collection-tab  
  .mother-day-collection-tab  
  .mother-day-collection-tab  
  .mother-day-collection-tab  
  .mother-day-collection-tab  
  .mother-day-collection-tab  
</style>

<div class="{% if section.settings.mother %}mother-day-collection-tab  {% endif %}">
  <div class="tabsshopmain">
    <div class="tabsshopmain_head">SHOP THE LOOK</div>
    <ul class="tabsshop items_scroll">
      {% for block in section.blocks %}
        <li class="ctreview-box">
          <a href="#tab-{{ forloop.index }}">
            {{ block.settings.btn_text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% for block in section.blocks %}
    {% assign total_price = '' %}
    {% assign pro = block.settings.product_list %}
    {% for product in pro %}
      {% assign total_price = total_price | plus: product.price %}
    {% endfor %}
    <div id="tab-{{ forloop.index }}">
      <div class="look_main">
        <div class="look_main_head look_main_head_top">
          <div class="look_main_sub_text container">{{ block.settings.sub_text }}</div>
          <div class="look_main_price container">{{ total_price | money_with_currency }}</div>
        </div>
        <div class="look_main_inner">
          <div class="look_main_left">
            <img
              loading="lazy"
              src="{{ block.settings.image | image_url: width: 1300 }}"
              data-src="{{ block.settings.image | image_url: width: 1300 }}"
              width="{{ block.settings.image.width }}"
              height="{{ block.settings.image.height }}"
              alt="{{ block.settings.image.alt }}"
              class="lazy lazyImage Tab_banner"
            >
          </div>
          <div class="look_main_right items_scroll ">
            {% assign pro = block.settings.product_list %}
            {% assign prod = '' %}
            {% for product in pro %}
              {% if forloop.last %}
                {% assign prod = prod | append: product.variants[0].id %}
              {% else %}
                {% assign prod = prod | append: product.variants[0].id | append: ',' %}
              {% endif %}
              <div
                class="look_product ctreview-box "
                data-product-id="{{ product.id }}"
                data-enable-history-state="true"
                data-show-sale-price-label="false"
                data-show-preorder-label="false"
              >
                <div class="lookImg">
                  <img
                    src="{{ product.featured_media | image_url: width: 1500 }}"
                    data-src="{{ product.featured_media | image_url: width: 1500 }}"
                    width="{{ product.featured_media.width }}"
                    height="{{ product.featured_media.height }}"
                    alt="{{ product.featured_media.alt }}"
                    class=" Tab_banner"
                  >



                    {% assign best=product.metafields.custom.best_seller_badge %}
          

        <div class="ct_custom_badge ct_custom_badge-wedd {{ best}}">
              {% if best == true %}
                <div class="ct_best_badge ">Bestseller</div>           
              {% endif %}

               {% if best == true %}
                 
                  {% else %}
                {% assign pro_quantity = product.variants.first.inventory_quantity %}
                {% if pro_quantity <= 3 %}
                <div  class="ct_sell_badge ">Selling Fast</div>   
              {% endif %}
              {% endif %}

            
          
            
                </div>


                  



                  
                </div>
                <div class="look_content_bg"></div>
                <div class="look_content">
                  {% assign s_word = product.title | split: ' ' %}

                  {% assign shortstr = '' %}
                  {% for word in s_word %}
                    {% unless forloop.last %}
                      {% assign shortstr = shortstr | append: word %}
                      {% assign shortstr = shortstr | append: ' ' %}
                    {% endunless %}
                  {% endfor %}
                  <div class="lookTItle">{{ shortstr }}</div>
                 
              
              <div class="lookprice">
                    {{ product.price | money_with_currency }}
                     {% if product.compare_at_price > product.price %}
                       <span  class="CT-wedd-price__compare" >
                    {{ product.compare_at_price | money_with_currency }}
                         </span>
                    {% endif %}

                {%- if product.compare_at_price > product.price -%}
                      <div class="CT_parsent_off_ CT_parsent_off_product ">
                      {%- assign savingsd = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round | append: '%' -%}
                       {{ savingsd }} OFF
                      </div>
                  {% endif %}

                       
                  </div>







                  <div class="ct_product_overlay-main">
                
{% if product.metafields.theme.label !=blank %}
 <div class="ct_product_overlay">
   <span>{{ product.metafields.theme.label }}</span>
 </div>
{% endif %}
                {%- if product.compare_at_price > product.price -%}
                    {%- assign discount_amount = product.compare_at_price | minus: product.price   -%}
                    {%- assign discount_amountpr = discount_amount | money_without_currency  | remove:',' -%}
                    {%- assign discount_amountmn = discount_amountpr | plus:0  -%}
                  

                   {%- if discount_amountmn > 1000 -%}

                    {% comment %}
                     
                    <div class="CT_price_off">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                          <g clip-path="url(#clip0_605_63842)">
                            <path d="M13.4475 7.55371V7.87384C13.4475 9.66639 10.4372 11.1194 6.72415 11.1194C4.67457 11.1194 2.84039 10.6762 1.60718 9.97799C2.02299 11.5929 4.84886 12.9295 8.27568 12.9295C11.9888 12.9295 14.999 11.3604 14.999 9.56786C14.999 8.77968 14.4156 8.08511 13.4475 7.55371Z" fill="#FCC62D"/>
                            <path d="M8.27557 12.929C4.56249 12.929 1.55225 11.3599 1.55225 9.56738V11.7519C1.55225 13.5445 4.56249 14.9978 8.27557 14.9978C11.9887 14.9978 14.9989 13.5445 14.9989 11.7519V9.56738C14.9989 11.3599 11.9887 12.929 8.27557 12.929Z" fill="#E4AF18"/>
                            <path d="M2.32788 13.2781C2.48045 13.4175 2.65345 13.5509 2.84506 13.6776V11.5337C2.65345 11.4018 2.48045 11.2634 2.32788 11.1191V13.2781Z" fill="#CE9912"/>
                            <path d="M13.7061 11.5337V13.6776C13.8977 13.5512 14.0707 13.4175 14.2232 13.2781V11.1191C14.0709 11.2634 13.8979 11.4018 13.7061 11.5337Z" fill="#CE9912"/>
                            <path d="M3.3623 13.9792C3.52573 14.0637 3.69847 14.1436 3.87948 14.2194V12.1008C3.69847 12.0211 3.52573 11.9371 3.3623 11.8486V13.9792Z" fill="#CE9912"/>
                            <path d="M12.6716 14.2194C12.8526 14.1439 13.0254 14.0637 13.1888 13.9792V11.8486C13.0254 11.9371 12.8526 12.0214 12.6716 12.1008V14.2194Z" fill="#CE9912"/>
                            <path d="M4.39673 14.4144C4.56378 14.4716 4.73626 14.5248 4.91391 14.5745V12.4763C4.73626 12.4235 4.56378 12.3669 4.39673 12.3066V14.4144Z" fill="#CE9912"/>
                            <path d="M11.6375 14.5745C11.8151 14.5248 11.9876 14.4716 12.1546 14.4144V12.3066C11.9876 12.3669 11.8151 12.4235 11.6375 12.4763V14.5745Z" fill="#CE9912"/>
                            <path d="M5.6897 14.7621C5.85856 14.7962 6.03129 14.8267 6.20688 14.8539V12.7738C6.03129 12.7446 5.85856 12.712 5.6897 12.6758V14.7621Z" fill="#CE9912"/>
                            <path d="M10.3442 14.8522C10.5198 14.8248 10.6926 14.7943 10.8614 14.7604V12.6738C10.6926 12.71 10.5198 12.7426 10.3442 12.7721V14.8522Z" fill="#CE9912"/>
                            <path d="M7.24146 14.972C7.41161 14.9846 7.58434 14.9934 7.75863 14.9996V12.9301C7.58434 12.9234 7.41161 12.9141 7.24146 12.9004V14.972Z" fill="#CE9912"/>
                            <path d="M8.79272 14.9999C8.96701 14.9934 9.13975 14.9849 9.3099 14.9722V12.9004C9.13975 12.9141 8.96701 12.9234 8.79272 12.9304V14.9999Z" fill="#CE9912"/>
                            <path d="M6.72406 9.04819C3.01097 9.04819 0.000732422 7.47907 0.000732422 5.68652V7.87109C0.000732422 9.66363 3.01097 11.1169 6.72406 11.1169C10.4371 11.1169 13.4474 9.66363 13.4474 7.87109V5.68652C13.4474 7.47907 10.4371 9.04819 6.72406 9.04819Z" fill="#E4AF18"/>
                            <path d="M0.776611 9.39699C0.929179 9.53637 1.10218 9.6698 1.29379 9.79651V7.65254C1.10218 7.52066 0.929179 7.38232 0.776611 7.23828V9.39699Z" fill="#CE9912"/>
                            <path d="M12.1545 7.6528V9.79677C12.3462 9.67032 12.5192 9.53662 12.6717 9.39724V7.23828C12.5194 7.38257 12.3464 7.52092 12.1545 7.6528Z" fill="#CE9912"/>
                            <path d="M1.81079 10.0983C1.97422 10.1829 2.14696 10.2628 2.32797 10.3385V8.2199C2.14696 8.14025 1.97422 8.05621 1.81079 7.96777V10.0983Z" fill="#CE9912"/>
                            <path d="M11.1201 10.3385C11.3011 10.263 11.4739 10.1831 11.6373 10.0983V7.96777C11.4739 8.05621 11.3011 8.14051 11.1201 8.2199V10.3385Z" fill="#CE9912"/>
                            <path d="M2.84521 10.5335C3.01226 10.5907 3.18474 10.644 3.36239 10.6936V8.59542C3.18474 8.54266 3.01226 8.48603 2.84521 8.42578V10.5335Z" fill="#CE9912"/>
                            <path d="M10.0857 10.6936C10.2633 10.644 10.4358 10.5907 10.6029 10.5335V8.42578C10.4358 8.48603 10.2633 8.54266 10.0857 8.59542V10.6936Z" fill="#CE9912"/>
                            <path d="M4.13818 10.8812C4.30704 10.9154 4.47978 10.9459 4.65536 10.973V8.89293C4.47978 8.86371 4.30704 8.83112 4.13818 8.79492V10.8812Z" fill="#CE9912"/>
                            <path d="M8.79272 10.9733C8.96831 10.9459 9.14104 10.9154 9.3099 10.8815V8.79492C9.14104 8.83112 8.96831 8.86371 8.79272 8.89319V10.9733Z" fill="#CE9912"/>
                            <path d="M5.6897 11.0921C5.85985 11.1047 6.03259 11.1135 6.20688 11.1197V9.05025C6.03259 9.04352 5.85985 9.03421 5.6897 9.02051V11.0921Z" fill="#CE9912"/>
                            <path d="M7.24146 11.12C7.41574 11.1135 7.58848 11.105 7.75863 11.0923V9.02051C7.58848 9.03421 7.41574 9.04352 7.24146 9.0505V11.12Z" fill="#CE9912"/>
                            <path d="M13.2709 8.61133C12.5786 10.0481 9.91156 11.1191 6.72418 11.1191C5.53364 11.1191 4.41601 10.9691 3.44604 10.7072C4.38421 11.3441 6.05392 11.8861 8.27572 11.8861C11.8137 11.8861 13.9647 10.5127 13.9647 9.56759C13.9647 9.25211 13.7219 8.9175 13.2709 8.61133Z" fill="#FFD949"/>
                            <path d="M8.01701 8.53354C4.30392 8.53354 1.29368 7.08026 1.29368 5.28772V3.82617C0.48145 4.33533 0.000732422 4.97379 0.000732422 5.68905C0.000732422 7.48159 3.01097 9.05071 6.72406 9.05071C8.51195 9.05071 10.1354 8.68636 11.3396 8.10893C10.3593 8.37864 9.22591 8.53354 8.01701 8.53354Z" fill="#FFD949"/>
                            <path d="M8.01727 6.46225C4.30419 6.46225 1.29395 4.89313 1.29395 3.10059V5.28515C1.29395 7.07769 4.30419 8.53096 8.01727 8.53096C11.7304 8.53096 14.7406 7.07769 14.7406 5.28515V3.10059C14.7406 4.89313 11.7304 6.46225 8.01727 6.46225Z" fill="#E4AF18"/>
                            <path d="M2.06934 6.81105C2.2219 6.95043 2.3949 7.08386 2.58651 7.21057V5.0666C2.3949 4.93472 2.2219 4.79638 2.06934 4.65234V6.81105Z" fill="#CE9912"/>
                            <path d="M13.4475 5.06686V7.21083C13.6391 7.08438 13.8121 6.95069 13.9647 6.81131V4.65234C13.8124 4.79664 13.6394 4.93498 13.4475 5.06686Z" fill="#CE9912"/>
                            <path d="M3.10376 7.51333C3.26719 7.59789 3.43993 7.67779 3.62094 7.75356V5.63494C3.43993 5.55529 3.26719 5.47125 3.10376 5.38281V7.51333Z" fill="#CE9912"/>
                            <path d="M12.4131 7.75258C12.5941 7.67708 12.7668 7.59717 12.9303 7.51235V5.38184C12.7668 5.47027 12.5941 5.55457 12.4131 5.63396V7.75258Z" fill="#CE9912"/>
                            <path d="M4.13818 7.94761C4.30523 8.00476 4.47771 8.05802 4.65536 8.10767V6.00948C4.47771 5.95673 4.30523 5.9001 4.13818 5.83984V7.94761Z" fill="#CE9912"/>
                            <path d="M11.3787 8.10767C11.5563 8.05802 11.7288 8.00476 11.8958 7.94761V5.83984C11.7288 5.9001 11.5563 5.95673 11.3787 6.00948V8.10767Z" fill="#CE9912"/>
                            <path d="M5.43115 8.29528C5.60001 8.32942 5.77275 8.35993 5.94833 8.38708V6.30699C5.77275 6.27777 5.60001 6.24519 5.43115 6.20898V8.29528Z" fill="#CE9912"/>
                            <path d="M10.0857 8.38734C10.2613 8.35993 10.434 8.32942 10.6029 8.29554V6.20898C10.434 6.24519 10.2613 6.27777 10.0857 6.30725V8.38734Z" fill="#CE9912"/>
                            <path d="M6.98291 8.50515C7.15306 8.51783 7.3258 8.52662 7.50009 8.53282V6.46333C7.3258 6.45661 7.15306 6.4473 6.98291 6.43359V8.50515Z" fill="#CE9912"/>
                            <path d="M8.53418 8.53308C8.70847 8.52662 8.88121 8.51808 9.05136 8.50541V6.43359C8.88121 6.4473 8.70847 6.45661 8.53418 6.46359V8.53308Z" fill="#CE9912"/>
                            <path d="M14.7406 3.10307C14.7406 4.89562 11.7304 6.46474 8.01727 6.46474C4.30419 6.46474 1.29395 4.89562 1.29395 3.10307C1.29395 1.31053 4.30419 0 8.01727 0C11.7304 0 14.7406 1.31053 14.7406 3.10307Z" fill="#FCC62D"/>
                            <path d="M8.01685 5.42121C4.47883 5.42121 2.32788 4.0481 2.32788 3.1027C2.32788 2.15755 4.47883 0.775391 8.01685 0.775391C11.5549 0.775391 13.7058 2.15755 13.7058 3.1027C13.7058 4.0481 11.5549 5.42121 8.01685 5.42121Z" fill="#FFD949"/>
                            <path d="M9.77073 3.45478C9.98277 3.40978 10.1072 3.27894 10.0614 3.12973L10.0122 2.97044C9.97631 2.8533 9.83641 2.75555 9.66496 2.70694C9.43172 2.20864 8.83696 2.02814 7.95362 2.02814C7.91173 2.02814 7.87087 2.02917 7.83053 2.03073C7.52902 2.04314 7.22828 2.01418 6.99374 1.92832C6.89806 1.89341 6.82022 1.85695 6.76876 1.81894C6.74549 1.80187 6.68912 1.81273 6.68912 1.83446C6.68912 1.87221 6.69196 1.91695 6.70024 1.9666C6.7323 2.15976 6.69403 2.1308 6.50319 2.32345C6.39251 2.43568 6.30434 2.56497 6.24046 2.70771C6.07005 2.75659 5.93093 2.85407 5.89499 2.9707L5.84586 3.12999C5.80009 3.2792 5.92447 3.41004 6.13651 3.45504C6.19702 3.83671 6.45639 4.17185 7.02192 4.35648L6.99089 4.62464C6.98262 4.69627 6.92081 4.76247 6.83082 4.79505L5.69019 5.20672C6.35631 5.34636 7.11553 5.43066 7.95362 5.43066C8.78007 5.43066 9.52972 5.34869 10.1891 5.21293L9.07331 4.79582C8.98513 4.76272 8.92462 4.69704 8.91661 4.62671L8.88532 4.35648C9.45085 4.17185 9.71022 3.83646 9.77073 3.45478Z" fill="#F0C41B"/>
                          </g>
                          <defs>
                            <clipPath id="clip0_605_63842">
                              <rect width="15" height="15" fill="white"/>
                            </clipPath>
                          </defs>
                        </svg> 
                        Big Save <span> {{ discount_amount | money | remove: ' ' }}</span>
                    </div>
                    {% endcomment %}
                     
                     
                     {% else %}
                               {% endif %} 
                {%- endif %}

</div>


















                  
                  

                  
                  <div class="lookbtn">
                    <div class="">
                      {% assign product_form_id = 'product-form-'
                        | append: section.id
                        | append: '-'
                        | append: product.id
                      %}
                      {% form 'product',
                        product,
                        id: product_form_id,
                        class: 'form product-purchase-form product-form ',
                        data-product-id: product.id
                      %}
                        <input type="hidden" name="form_type" value="product">
                        <input type="hidden" name="utf8" value="✓">
                        <input type="hidden" name="id" value="{{ product.variants[0].id }}">
                        <div class="add-to-card-button">
                          <div class="quantity-submit-row__submit input-row">
                            {% if product.available %}
                              <!--
                                <button class="button button--large lookbtn_main btn-with-cart" name="add" type="submit" data-add-to-cart-text="Add to Cart" >   Add to Bag</button>
                              -->
                              <button
                                data-add-to-cart
                                class=" lookbtn_main ct_atc"
                                name="add"
                                type="button"
                                data-add-to-cart-text="Add to Cart"
                              >
                                Add to Bag
                              </button>
                            {% else %}
                              <button
                                data-add-to-cart
                                class=" lookbtn_main ct_atc"
                                name="add"
                                type="button"
                                data-add-to-cart-text="Add to Cart"
                              >
                                Sold Out
                              </button>
                            {% endif %}
                          </div>
                        </div>
                      {% endform %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="look_main_bottom">
            <div class="look_main_head  look_main_head_bottom">
              <div class="look_main_sub_text container">{{ block.settings.sub_text }}</div>
              <div class="look_main_price container">{{ total_price | money_with_currency }}</div>
            </div>

            <button data-id="{{ prod }}" class="ct_atc_all">Add the Look to Cart</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script>
        $(document).ready(function() {
        $('ul.tabsshop').each(function(){
          var active, content, links = $(this).find('a');
          active = links.first().addClass('active');
          content = $(active.attr('href'));
          links.not(':first').each(function () {
            $($(this).attr('href')).hide();
          });
          $(this).find('a').click(function(e){
            active.removeClass('active');
            content.hide();
            active = $(this);
            content = $($(this).attr('href'));
            active.addClass('active');
            content.show();
            return false;
          });
        });
      });



  jQuery(document).on('click', '.ct_atc_all', function () {
    var v_id=jQuery(this).attr('data-id');
    var sp_id=v_id.split(',');
    var arr=[];
    var qq=[];
      jQuery.each(sp_id,function(e,value){
          var data={
          "id":value,
          "quantity":"1"
        }
         arr.push(data);
      })
    console.log(arr);

     fetch(window.Shopify.routes.root + 'cart/add.js', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({"items":arr})
          })
          .then(response => {
            console.log(response)
            return response.json();
          })
          .then((data) => {

           mmajaxcart.AjaxcartRender();
              setTimeout(function () {
                mmajaxcart.AjaxcartOpen();
              }, 500);
            window._izq.push(["trigger","product_addedtocart",{ }]);
            console.log("My script for add to cart");

              // var currentPageUrl = window.location.href.replace("?return=cart", "");

              // window.history.replaceState({}, document.title, currentPageUrl);

          })
          .catch((error) => {
            console.error('Error:', error);
          });
  })

  jQuery(document).on('click', '.add-to-card-button .ct_atc', function () {

      var id = jQuery(this).closest('form').find('input[name="id"]').val();

        var formData={
          "id":id,
          "quantity":1
        }
       fetch(window.Shopify.routes.root + 'cart/add.js', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json'
                      },
                      body: JSON.stringify(formData)
                    })
                    .then(response => {
                      console.log(response)
                      return response.json();
                    })
                    .then((data) => {

                     mmajaxcart.AjaxcartRender();
                        setTimeout(function () {
                          mmajaxcart.AjaxcartOpen();
                        }, 500);
                      window._izq.push(["trigger","product_addedtocart",{ }]);
                      console.log("My script for add to cart");

                        // var currentPageUrl = window.location.href.replace("?return=cart", "");

                        // window.history.replaceState({}, document.title, currentPageUrl);

                    })
                    .catch((error) => {
                      console.error('Error:', error);
                    });

  });









                    var sliders = document.querySelectorAll('.items_scroll');
    var isDown = false;
    var startX;
    var scrollLeft;

    sliders.forEach(slider => {
      slider.addEventListener('mousedown', (e) => {
        isDown = true;
        slider.classList.add('active');
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
      });

      slider.addEventListener('mouseleave', () => {
        isDown = false;
        slider.classList.remove('active');
        enableLinks(); // Re-enable links on mouse leave
      });

      slider.addEventListener('mouseup', () => {
        isDown = false;
        slider.classList.remove('active');
        enableLinks(); // Re-enable links on mouse up
      });

      slider.addEventListener('mousemove', (e) => {
        if (!isDown) return;
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 1; // scroll-fast
        slider.scrollLeft = scrollLeft - walk;
        disableLinks(); // Disable links when scrolling horizontally
      });
    });

    function disableLinks() {
      var links = document.querySelectorAll('.items_scroll .ctreview-box');
      links.forEach(link => {
        link.style.pointerEvents = 'none'; // Disable link clicks
      });
    }

    function enableLinks() {
      var links = document.querySelectorAll('.items_scroll .ctreview-box');
      links.forEach(link => {
        link.style.pointerEvents = 'auto'; // Re-enable link clicks
      });
    }
</script>

{% schema %}
{
  "name": "Shop-The-Look",
  "settings": [
    {
        "type": "checkbox",
        "id": "mother",
        "label": "mother day page",
        "default": false
      }
  ],
  "blocks":[{
  "type":"Box",
  "name":"Look Box",
  "limit":8,
  "settings":[
    {
      "type": "text",
      "id": "btn_text",
      "label": "Tabing Text"
    },
    {
      "type": "text",
      "id": "sub_text",
      "label": "Sub Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Image"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products",
      "limit": 12
    }




  ]
}],
  "presets":[{
        "name": "Shop-The-Look"
  }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
