<style>@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@font-face {
	font-family: 'Afterglow Regular';
	font-style: normal;
	font-weight: normal;
	src: url('https://cdn.shopify.com/s/files/1/0796/1959/files/Afterglow-Regular.woff?v=1700635717') format('woff');
}

.look_main_head .container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1606px;
}
  a.full_click {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 26;
}

@media(max-width:1100px) {
	.ct_wedding_bg .icon-with-caption {
		min-height: 86px;
	}

	#shopify-section-template--16041415180444__9a62de5d-2a7e-4cd9-8345-e59da04fdbb7 .container {
		margin-top: 40px;
	}

	.ct_wedding_bg .icon-with-caption {
		padding-top: 0;
		padding-bottom: 0;
	}

	.ct_wedding_bg .icon-with-caption .icon-with-caption__text {
		margin: 3px 0 0;
		font-family: 'Lato', sans-serif;
		color: #000;
		text-align: center;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 122.023%;
	}

}


.look_product {
	width: 100%;
	max-width: 300px;
	min-width: 300px;
	margin-right: 12px;
	position: relative;
	min-height: 490px;
}

.tabsshopmain_head {
	color: #000;
	text-align: center;
	font-family: 'Inter', sans-serif;

	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 48px;
}
  .tabsshopmainVelentine .tabsshopmain_head{
    font-family: Marcellus;
    font-size: 40px;
  }

.look_main_right {
	display: inline-flex;
	width: auto;
	overflow: hidden;
	overflow-x: auto;
}

.lookImg img {
	width: 100%;
	height: auto;
}

button.lookbtn_main {
	display: flex;
	width: 100%;
	height: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 11.248px;
	flex-shrink: 0;
	border-radius: 140.601px;
	background: var(--Pink-Gradient, linear-gradient(270deg, #E30058 7.05%, rgba(223, 0, 86, 0.93) 23.65%, rgba(218, 0, 84, 0.82) 33.57%, rgba(194, 0, 75, 0.00) 85.12%), #C71D22);
	border: 0;
	color: #fff;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 16.872px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
}

.tabsshopmainVelentine ul.tabsshop li a {
	color: #000;
	white-space: nowrap;
	font-family: 'Lato', sans-serif;
	font-size: 26.431px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: flex;
	height: 75.519px;
	padding: 18px 38px;
	justify-content: center;
	align-items: center;
	gap: 18.88px;
	border-radius: 188.796px;
	border: 1.888px solid #D7D7D7;
	opacity: 0.8;
	background: #FFF;
	border: 1px solid #D60227;
	background: #FFF;
}

.tabsshopmainVelentine ul.tabsshop li a.active {
	color: #ffffff;
	border: 1.888px solid #C51D23 !important;
	background: var(--Pink-Gradient, linear-gradient(270deg, #E30058 7.05%, rgba(223, 0, 86, 0.93) 23.65%, rgba(218, 0, 84, 0.82) 33.57%, rgba(194, 0, 75, 0.00) 85.12%), #C71D22);
}

.tabsshop {
	display: inline-flex;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
	justify-content: center;
}

.tabsshopmainVelentine {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	margin-top: 47px;
	margin-bottom: 30px;
}

.look_main_inner {
	width: 100%;
	max-width: 1566px;
	margin: 0 auto;
}

.look_main {
	position: relative;
}

.look_main_sub_text {
	color: #717171;
	font-size: 27px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-top: 42px;
	padding-bottom: 22px;
	text-align: left;
}

.tabsshopmain_head span {
	color: #CF2228;
	font-family: Marcellus;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.look_main_left img {
	width: 100%;
	max-width: 1096px;
}

.look_content {
	position: absolute;
	padding: 15px 15px 15px 15px;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 2;
	/* background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 0%, rgba(208, 0, 0, 0.00) 0%, rgba(234, 139, 139, 0.55) 24%, #FFF 46%); */
}

.velentine_tab .lookTItle {
	color: #FFF;
	text-align: center;
	font-family: 'Lato';
	font-size: 27.828px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.velentine_tab .looktext {
	color: #FFF;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 13.914px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	padding: 12px 0;
}

.velentine_tab .ctreview-box:first-child {
	margin-left: 10px;
}

.velentine_tab .lookbtn a {
	gap: 7px;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 17.577px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border-radius: 19px;
	border: 1.019px solid #FFF;
	display: inline-flex;
	align-items: center;
	width: max-content;
	padding: 7px 13px;
}

.velentine_tab .lookbtn a svg {
	fill: transparent;
	width: 17px;
}

.velentine_tab .lookbtn {
	text-align: center;
}

.velentine_tab .tabsshopmain_head span {
	color: #CF2228;
	font-size: 40px;
	font-family: "Marcellus", serif;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.velentine_tab .look_content_bg {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 1;
	background: rgb(234, 140, 140);
	background: linear-gradient(180deg, rgba(245, 154, 155, 0.00) 0%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.75) 62.19%);
	height: 215px;
	border-radius: 16px;
}

.lookImg:before {
	content: "";
	width: 100%;
	position: absolute;
	bottom: -1px;
	height: 100%;
	z-index: 11;
	background-size: 100%;
	pointer-events: none;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='299' height='268' viewBox='0 0 299 268' fill='none'%3E%3Cpath d='M0.771484 0.615234V251.213C0.771484 259.586 7.55916 266.374 15.9322 266.374H282.729C291.102 266.374 297.889 259.586 297.889 251.213V0.615234' stroke='url(%23paint0_linear_688_542)' stroke-width='1.51607'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_688_542' x1='149.33' y1='0.615234' x2='149.33' y2='266.374' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CF2228' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23CF2228'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.lookImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 16px;
}

.lookImg {
	height: 100%;
}

.lookprice {
	color: #000;
	font-size: 23.902px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-family: 'Lato', sans-serif;
	margin-bottom: 7px;
}

button.ct_atc_all:hover {
	background: var(--Pink-Gradient, linear-gradient(270deg, #E30058 7.05%, rgba(223, 0, 86, 0.93) 23.65%, rgba(218, 0, 84, 0.82) 33.57%, rgba(194, 0, 75, 0.00) 85.12%), #C71D22);
	color: #fff;
	border-color: var(--Pink-Gradient, linear-gradient(270deg, #E30058 7.05%, rgba(223, 0, 86, 0.93) 23.65%, rgba(218, 0, 84, 0.82) 33.57%, rgba(194, 0, 75, 0.00) 85.12%), #C71D22);
}

.lookPrice_text {
	color: #242424;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-top: 5px;
	margin-bottom: 20px;
}

.look_main_right {
	position: absolute;
	z-index: 1;
	right: 0;
	top: calc(62% - 26px);
	width: 50%;
	transform: translateY(-62%);
}

.velentine_tab .look_main_right {
	position: inherit;
	z-index: 1;
	right: 0;
	top: calc(62% - 26px);
	width: 100%;
	transform: translateY(-0%);
  justify-content: center;
  
}

/* Hide scrollbar for Chrome, Safari and Opera */
.items_scroll::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.items_scroll {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.tabsshop {
	display: inline-flex;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
}

.tabsshop li {
	margin-right: 15px;
}

.tabsshop li:last-child {
	margin-right: 0px;
}

.ct_atc_all {
	color: #CF2228;
	text-align: center;
	font-family: Inter;
	font-size: 27px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 111.393px;
	border: 2.273px solid #CF2228;
	background: #fff;
	margin-top: 26px;
	padding: 15px 20px 15px 20px;
}

.look_main_bottom {
	text-align: center;
}

.look_main_price.container {
	color: #CF2228;
	font-family: 'Afterglow Regular';
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
	margin-bottom: 26px;
	text-align: left;
}

.lookbtn .quantity-submit-row__submit {
	margin: 0;
}

@media(max-width:1550px) {
	.tabsshopmainVelentine ul.tabsshop li a {
		font-size: 21px;
		height: 59.519px;
		padding: 9px 24px;
	}
}

@media(max-width:1100px) {

	.tabsshopmain {
		margin-top: 33px;
	}
  .velentine_tab .look_main_right {
    justify-content: inherit;
}

	.ct_atc_all {
		padding: 10px;
		font-size: 15px;
		margin-top: 16px;
	}

	.look_main_price.container {
		font-size: 20px;
		margin-bottom: 6px;
	}

	.look_main_head .container {
		max-width: 600px;
	}

	.tabsshopmain_head {
		font-size: 20px;
		margin-bottom: 15px;
		font-weight: 500;
	}
  .tabsshopmainVelentine .tabsshopmain_head {
    font-size: 27px;
}

	.tabsshopmain_head span {
		font-size: 27px;
	}

	.tabsshopmain_head {
		padding-top: 30px;
	}

	.tabsshopmainVelentine ul.tabsshop li a {
		font-size: 14px;
		height: 40px;
		padding: 7px 20px;
	}

	.tabsshopmainVelentine .tabsshop {
		width: auto;
	}

	.tabsshop li {
		margin-right: 8px;
	}

	.look_main_sub_text {
		font-size: 12px;
		padding-top: 15px;
		padding-bottom: 5px;
		text-align: left;
	}

	.look_main_left img {
		max-width: 100%;
		border-radius: 10px;
	}

	.look_main_right {
		position: inherit;
		z-index: 1;
		right: 0;
		top: 0;
		width: 100%;
		transform: translateY(0%);
		margin-top: 20px;
	}

	.look_main_inner {
		padding: 0 20px;
	}

	.look_product {
		max-width: 180px;
		min-width: 180px;
		margin-right: 7px;
		min-height: 300px;
	}

	.velentine_tab .lookTItle {
		font-size: 20px;
		line-height: 22px;
	}

	.velentine_tab .looktext {
		color: #FFF;
		text-align: center;
		font-family: 'Inter', sans-serif;
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		padding: 9px 0;
	}

	.velentine_tab .lookbtn a {
		font-size: 12px;
	}

	.lookprice {

		font-size: 14px;
	}

	.lookPrice_text {
		font-size: 12px;
		margin-top: 2px;
		margin-bottom: 6px;
	}

	.look_content {
		padding: 9px 9px 9px 9px;
	}

	button.lookbtn_main {
		height: 24px;
		font-size: 10px;
	}

	.look_content_bg {
		height: 135px;
		border-radius: 10px;
	}
}

.look_main_bottom .look_main_head_bottom {
	display: none;
}


@media(max-width:750px) {
	.velentine_tab .look_product {
		max-width: 220px;
		min-width: 220px;
		margin-right: 7px;
		min-height: 340px;
	}

	.velentine_tab .look_main_inner {
		padding: 0;
	}

	div#shopify-section-template--16306680955036__velentine_tab_GfwaPc {
		background-image: url("data:image/svg+xml,%0A%3Csvg width='430' height='336' viewBox='0 0 430 336' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.51' clip-path='url(%23clip0_18_444)'%3E%3Cg opacity='0.57'%3E%3Cpath d='M8.79301 280.309C2.14962 283.077 -2.99751 276.285 0.85286 271.744C4.62343 267.282 17.6908 265.589 17.6908 265.589C17.6908 265.589 22.2992 277.919 20.1047 283.316C17.8703 288.834 9.47131 287.459 8.81296 280.309H8.79301Z' fill='%23EED4E7'/%3E%3Cpath d='M12.783 254.396C17.3516 256.288 20.9027 251.627 18.2494 248.5C15.6558 245.432 6.65833 244.257 6.65833 244.257C6.65833 244.257 3.48626 252.742 5.00247 256.467C6.53863 260.271 12.3242 259.315 12.783 254.396Z' fill='%23EED4E7'/%3E%3Cpath d='M14.7182 328.988C21.3616 331.757 26.5087 324.965 22.6583 320.423C18.8878 315.962 5.82045 314.269 5.82045 314.269C5.82045 314.269 1.21197 326.598 3.40648 331.996C5.64089 337.513 14.0399 336.139 14.6983 328.988H14.7182Z' fill='%23EED4E7'/%3E%3Cpath d='M7.67581 303.075C3.10723 304.967 -0.443893 300.306 2.20947 297.179C4.80299 294.112 13.8005 292.937 13.8005 292.937C13.8005 292.937 16.9726 301.422 15.4564 305.146C13.9202 308.951 8.13466 307.995 7.67581 303.075Z' fill='%23EED4E7'/%3E%3Cpath d='M13.182 232.625C19.8254 235.394 24.9726 228.602 21.1222 224.06C17.3516 219.599 4.28428 217.906 4.28428 217.906C4.28428 217.906 -0.324198 230.235 1.87032 235.633C4.10473 241.15 12.5037 239.776 13.1621 232.625H13.182Z' fill='%23EED4E7'/%3E%3Cpath d='M7.67581 208.246C3.10723 210.138 -0.443893 205.477 2.20947 202.35C4.80299 199.283 13.8005 198.107 13.8005 198.107C13.8005 198.107 16.9726 206.592 15.4564 210.317C13.9202 214.121 8.13466 213.165 7.67581 208.246Z' fill='%23EED4E7'/%3E%3Cpath d='M7.25685 186.455C0.613455 189.224 -4.53368 182.432 -0.683303 177.89C3.08727 173.429 16.1546 171.736 16.1546 171.736C16.1546 171.736 20.7631 184.065 18.5686 189.463C16.3342 194.98 7.93515 193.606 7.2768 186.455H7.25685Z' fill='%23EED4E7'/%3E%3Cpath d='M12.783 162.076C17.3516 163.968 20.9027 159.307 18.2494 156.18C15.6558 153.113 6.65833 151.938 6.65833 151.938C6.65833 151.938 3.48626 160.423 5.00247 164.147C6.53863 167.952 12.3242 166.995 12.783 162.076Z' fill='%23EED4E7'/%3E%3Cpath d='M14.7182 141.819C21.3616 144.588 26.5087 137.796 22.6583 133.255C18.8878 128.793 5.82045 127.1 5.82045 127.1C5.82045 127.1 1.21197 139.429 3.40648 144.827C5.64089 150.344 14.0399 148.97 14.6983 141.819H14.7182Z' fill='%23EED4E7'/%3E%3Cpath d='M9.19201 117.44C4.62343 119.332 1.07231 114.671 3.72568 111.544C6.31919 108.476 15.3167 107.301 15.3167 107.301C15.3167 107.301 18.4888 115.786 16.9726 119.511C15.4364 123.315 9.65087 122.359 9.19201 117.44Z' fill='%23EED4E7'/%3E%3Cpath d='M34.7681 166.278C28.1247 169.047 22.9776 162.255 26.8279 157.714C30.5985 153.252 43.6658 151.559 43.6658 151.559C43.6658 151.559 48.2743 163.888 46.0798 169.286C43.8454 174.803 35.4464 173.429 34.788 166.278H34.7681Z' fill='%23EED4E7'/%3E%3Cpath d='M38.7581 140.365C43.3267 142.257 46.8778 137.597 44.2244 134.47C41.6309 131.402 32.6334 130.227 32.6334 130.227C32.6334 130.227 29.4613 138.712 30.9775 142.437C32.5137 146.241 38.2992 145.285 38.7581 140.365Z' fill='%23EED4E7'/%3E%3Cpath d='M40.6933 214.958C47.3367 217.726 52.4838 210.934 48.6334 206.393C44.8628 201.932 31.7955 200.239 31.7955 200.239C31.7955 200.239 27.187 212.568 29.3815 217.966C31.616 223.483 40.015 222.108 40.6733 214.958H40.6933Z' fill='%23EED4E7'/%3E%3Cpath d='M33.6509 189.045C29.0823 190.937 25.5312 186.276 28.1845 183.149C30.7781 180.082 39.7756 178.906 39.7756 178.906C39.7756 178.906 42.9476 187.392 41.4314 191.116C39.8953 194.921 34.1097 193.964 33.6509 189.045Z' fill='%23EED4E7'/%3E%3Cpath d='M39.1571 118.575C45.8005 121.343 50.9476 114.551 47.0973 110.01C43.3267 105.548 30.2593 103.855 30.2593 103.855C30.2593 103.855 25.6509 116.185 27.8454 121.582C30.0798 127.1 38.4788 125.725 39.1372 118.575H39.1571Z' fill='%23EED4E7'/%3E%3Cpath d='M33.6509 94.1954C29.0823 96.0876 25.5312 91.4268 28.1845 88.2997C30.7781 85.2323 39.7756 84.0571 39.7756 84.0571C39.7756 84.0571 42.9476 92.5422 41.4314 96.2668C39.8953 100.071 34.1097 99.1151 33.6509 94.1954Z' fill='%23EED4E7'/%3E%3Cpath d='M33.2319 68.6207C26.5885 71.3893 21.4414 64.5973 25.2918 60.056C29.0623 55.5944 42.1297 53.9014 42.1297 53.9014C42.1297 53.9014 46.7381 66.2306 44.5436 71.6283C42.3092 77.1456 33.9102 75.7713 33.2519 68.6207H33.2319Z' fill='%23EED4E7'/%3E%3Cpath d='M40.2743 43.2652C44.8429 45.1574 48.394 40.4966 45.7406 37.3695C43.1471 34.3021 34.1496 33.127 34.1496 33.127C34.1496 33.127 30.9775 41.612 32.4937 45.3367C34.0299 49.141 39.8154 48.1849 40.2743 43.2652Z' fill='%23EED4E7'/%3E%3Cpath d='M37.4015 19.9413C44.0449 22.7099 49.192 15.9179 45.3416 11.3766C41.5711 6.91495 28.5037 5.22192 28.5037 5.22192C28.5037 5.22192 23.8953 17.5511 26.0898 22.9489C28.3242 28.4662 36.7232 27.0918 37.3815 19.9413H37.4015Z' fill='%23EED4E7'/%3E%3Cpath d='M11.207 44.5599C4.56359 47.3285 -0.583543 40.5365 3.26683 35.9952C7.0374 31.5336 20.1047 29.8406 20.1047 29.8406C20.1047 29.8406 24.7132 42.1698 22.5187 47.5676C20.2843 53.0848 11.8853 51.7105 11.2269 44.5599H11.207Z' fill='%23EED4E7'/%3E%3Cpath d='M15.197 18.6465C19.7656 20.5387 23.3167 15.8779 20.6633 12.7508C18.0698 9.68346 9.0723 8.5083 9.0723 8.5083C9.0723 8.5083 5.90023 16.9933 7.41644 20.718C8.9526 24.5223 14.7381 23.5663 15.197 18.6465Z' fill='%23EED4E7'/%3E%3Cpath d='M17.1322 93.2394C23.7756 96.008 28.9227 89.216 25.0723 84.6747C21.3017 80.213 8.23442 78.52 8.23442 78.52C8.23442 78.52 3.62594 90.8492 5.82045 96.247C8.05486 101.764 16.4539 100.39 17.1122 93.2394H17.1322Z' fill='%23EED4E7'/%3E%3Cpath d='M10.0897 67.326C5.52117 69.2182 1.97005 64.5574 4.62341 61.4303C7.21693 58.3629 16.2144 57.1877 16.2144 57.1877C16.2144 57.1877 19.3865 65.6728 17.8703 69.3974C16.3341 73.2018 10.5486 72.2457 10.0897 67.326Z' fill='%23EED4E7'/%3E%3Cpath d='M60.7431 82.5831C54.0998 85.3517 48.9526 78.5597 52.803 74.0184C56.5736 69.5568 69.6409 67.8638 69.6409 67.8638C69.6409 67.8638 74.2494 80.193 72.0549 85.5907C69.8204 91.108 61.4214 89.7337 60.7631 82.5831H60.7431Z' fill='%23EED4E7'/%3E%3Cpath d='M64.7332 56.69C69.3017 58.5822 72.8529 53.9214 70.1995 50.7943C67.606 47.7269 58.6085 46.5518 58.6085 46.5518C58.6085 46.5518 55.4364 55.0368 56.9526 58.7615C58.4888 62.5658 64.2743 61.6097 64.7332 56.69Z' fill='%23EED4E7'/%3E%3Cpath d='M66.6683 131.263C73.3117 134.031 78.4588 127.239 74.6085 122.698C70.8379 118.236 57.7705 116.543 57.7705 116.543C57.7705 116.543 53.1621 128.872 55.3566 134.27C57.591 139.787 65.99 138.413 66.6484 131.263H66.6683Z' fill='%23EED4E7'/%3E%3Cpath d='M59.6259 105.349C55.0573 107.242 51.5062 102.581 54.1596 99.4537C56.7531 96.3863 65.7506 95.2112 65.7506 95.2112C65.7506 95.2112 68.9227 103.696 67.4065 107.421C65.8703 111.225 60.0848 110.269 59.6259 105.349Z' fill='%23EED4E7'/%3E%3Cpath d='M65.1322 34.8995C71.7756 37.6681 76.9227 30.8761 73.0723 26.3348C69.3018 21.8732 56.2344 20.1802 56.2344 20.1802C56.2344 20.1802 51.6259 32.5094 53.8205 37.9072C56.0549 43.4244 64.4539 42.0501 65.1122 34.8995H65.1322Z' fill='%23EED4E7'/%3E%3Cpath d='M59.6259 10.5201C55.0573 12.4123 51.5062 7.75148 54.1596 4.62436C56.7531 1.557 65.7506 0.381836 65.7506 0.381836C65.7506 0.381836 68.9227 8.86688 67.4065 12.5915C65.8703 16.3959 60.0848 15.4398 59.6259 10.5201Z' fill='%23EED4E7'/%3E%3C/g%3E%3Cg opacity='0.57'%3E%3Cpath d='M419.207 280.309C425.85 283.077 430.998 276.285 427.147 271.744C423.377 267.282 410.309 265.589 410.309 265.589C410.309 265.589 405.701 277.919 407.895 283.316C410.13 288.834 418.529 287.459 419.187 280.309H419.207Z' fill='%23EED4E7'/%3E%3Cpath d='M415.237 254.396C410.668 256.288 407.117 251.627 409.771 248.5C412.364 245.432 421.362 244.257 421.362 244.257C421.362 244.257 424.534 252.742 423.017 256.467C421.481 260.271 415.696 259.315 415.237 254.396Z' fill='%23EED4E7'/%3E%3Cpath d='M413.282 328.988C406.638 331.757 401.491 324.965 405.342 320.423C409.112 315.962 422.18 314.269 422.18 314.269C422.18 314.269 426.788 326.598 424.594 331.996C422.359 337.513 413.96 336.139 413.302 328.988H413.282Z' fill='%23EED4E7'/%3E%3Cpath d='M420.344 303.075C424.913 304.967 428.464 300.306 425.81 297.179C423.217 294.112 414.219 292.937 414.219 292.937C414.219 292.937 411.047 301.422 412.564 305.146C414.1 308.951 419.885 307.995 420.344 303.075Z' fill='%23EED4E7'/%3E%3Cpath d='M414.818 232.625C408.175 235.394 403.027 228.602 406.878 224.06C410.648 219.599 423.716 217.906 423.716 217.906C423.716 217.906 428.324 230.235 426.13 235.633C423.895 241.15 415.496 239.776 414.838 232.625H414.818Z' fill='%23EED4E7'/%3E%3Cpath d='M420.344 208.246C424.913 210.138 428.464 205.477 425.81 202.35C423.217 199.283 414.219 198.107 414.219 198.107C414.219 198.107 411.047 206.592 412.564 210.317C414.1 214.121 419.885 213.165 420.344 208.246Z' fill='%23EED4E7'/%3E%3Cpath d='M420.743 186.455C427.387 189.224 432.534 182.432 428.683 177.89C424.913 173.429 411.845 171.736 411.845 171.736C411.845 171.736 407.237 184.065 409.431 189.463C411.666 194.98 420.065 193.606 420.723 186.455H420.743Z' fill='%23EED4E7'/%3E%3Cpath d='M415.237 162.076C410.668 163.968 407.117 159.307 409.771 156.18C412.364 153.113 421.362 151.938 421.362 151.938C421.362 151.938 424.534 160.423 423.017 164.147C421.481 167.952 415.696 166.995 415.237 162.076Z' fill='%23EED4E7'/%3E%3Cpath d='M413.282 141.819C406.638 144.588 401.491 137.796 405.342 133.255C409.112 128.793 422.18 127.1 422.18 127.1C422.18 127.1 426.788 139.429 424.594 144.827C422.359 150.344 413.96 148.97 413.302 141.819H413.282Z' fill='%23EED4E7'/%3E%3Cpath d='M418.808 117.44C423.377 119.332 426.928 114.671 424.274 111.544C421.681 108.476 412.683 107.301 412.683 107.301C412.683 107.301 409.511 115.786 411.027 119.511C412.564 123.315 418.349 122.359 418.808 117.44Z' fill='%23EED4E7'/%3E%3Cpath d='M393.232 166.278C399.875 169.047 405.022 162.255 401.172 157.714C397.401 153.252 384.334 151.559 384.334 151.559C384.334 151.559 379.726 163.888 381.92 169.286C384.155 174.803 392.554 173.429 393.212 166.278H393.232Z' fill='%23EED4E7'/%3E%3Cpath d='M389.262 140.365C384.693 142.257 381.142 137.597 383.796 134.47C386.389 131.402 395.387 130.227 395.387 130.227C395.387 130.227 398.559 138.712 397.042 142.437C395.506 146.241 389.721 145.285 389.262 140.365Z' fill='%23EED4E7'/%3E%3Cpath d='M387.307 214.958C380.663 217.726 375.516 210.934 379.367 206.393C383.137 201.932 396.205 200.239 396.205 200.239C396.205 200.239 400.813 212.568 398.618 217.966C396.384 223.483 387.985 222.108 387.327 214.958H387.307Z' fill='%23EED4E7'/%3E%3Cpath d='M394.369 189.045C398.938 190.937 402.489 186.276 399.835 183.149C397.242 180.082 388.244 178.906 388.244 178.906C388.244 178.906 385.072 187.392 386.589 191.116C388.125 194.921 393.91 193.964 394.369 189.045Z' fill='%23EED4E7'/%3E%3Cpath d='M388.843 118.575C382.2 121.343 377.052 114.551 380.903 110.01C384.673 105.548 397.741 103.855 397.741 103.855C397.741 103.855 402.349 116.185 400.155 121.582C397.92 127.1 389.521 125.725 388.863 118.575H388.843Z' fill='%23EED4E7'/%3E%3Cpath d='M394.369 94.1954C398.938 96.0876 402.489 91.4268 399.835 88.2997C397.242 85.2323 388.244 84.0571 388.244 84.0571C388.244 84.0571 385.072 92.5422 386.589 96.2668C388.125 100.071 393.91 99.1151 394.369 94.1954Z' fill='%23EED4E7'/%3E%3Cpath d='M394.768 68.6207C401.412 71.3893 406.559 64.5973 402.708 60.056C398.938 55.5944 385.87 53.9014 385.87 53.9014C385.87 53.9014 381.262 66.2306 383.456 71.6283C385.691 77.1456 394.09 75.7713 394.748 68.6207H394.768Z' fill='%23EED4E7'/%3E%3Cpath d='M387.726 43.2652C383.157 45.1574 379.606 40.4966 382.259 37.3695C384.853 34.3021 393.85 33.127 393.85 33.127C393.85 33.127 397.022 41.612 395.506 45.3367C393.97 49.141 388.185 48.1849 387.726 43.2652Z' fill='%23EED4E7'/%3E%3Cpath d='M390.599 19.9413C383.955 22.7099 378.808 15.9179 382.658 11.3766C386.429 6.91495 399.496 5.22192 399.496 5.22192C399.496 5.22192 404.105 17.5511 401.91 22.9489C399.676 28.4662 391.277 27.0918 390.618 19.9413H390.599Z' fill='%23EED4E7'/%3E%3Cpath d='M416.793 44.5599C423.436 47.3285 428.584 40.5365 424.733 35.9952C420.963 31.5336 407.895 29.8406 407.895 29.8406C407.895 29.8406 403.287 42.1698 405.481 47.5676C407.716 53.0848 416.115 51.7105 416.773 44.5599H416.793Z' fill='%23EED4E7'/%3E%3Cpath d='M412.823 18.6465C408.254 20.5387 404.703 15.8779 407.357 12.7508C409.95 9.68346 418.948 8.5083 418.948 8.5083C418.948 8.5083 422.12 16.9933 420.604 20.718C419.067 24.5223 413.282 23.5663 412.823 18.6465Z' fill='%23EED4E7'/%3E%3Cpath d='M410.868 93.2394C404.224 96.008 399.077 89.216 402.928 84.6747C406.698 80.213 419.766 78.52 419.766 78.52C419.766 78.52 424.374 90.8492 422.18 96.247C419.945 101.764 411.546 100.39 410.888 93.2394H410.868Z' fill='%23EED4E7'/%3E%3Cpath d='M417.93 67.326C422.499 69.2182 426.05 64.5574 423.397 61.4303C420.803 58.3629 411.805 57.1877 411.805 57.1877C411.805 57.1877 408.633 65.6728 410.15 69.3974C411.686 73.2018 417.471 72.2457 417.93 67.326Z' fill='%23EED4E7'/%3E%3Cpath d='M367.257 82.5831C373.9 85.3517 379.047 78.5597 375.197 74.0184C371.426 69.5568 358.359 67.8638 358.359 67.8638C358.359 67.8638 353.751 80.193 355.945 85.5907C358.18 91.108 366.579 89.7337 367.237 82.5831H367.257Z' fill='%23EED4E7'/%3E%3Cpath d='M363.287 56.69C358.718 58.5822 355.167 53.9214 357.82 50.7943C360.414 47.7269 369.411 46.5518 369.411 46.5518C369.411 46.5518 372.584 55.0368 371.067 58.7615C369.531 62.5658 363.746 61.6097 363.287 56.69Z' fill='%23EED4E7'/%3E%3Cpath d='M361.332 131.263C354.688 134.031 349.541 127.239 353.392 122.698C357.162 118.236 370.229 116.543 370.229 116.543C370.229 116.543 374.838 128.872 372.643 134.27C370.409 139.787 362.01 138.413 361.352 131.263H361.332Z' fill='%23EED4E7'/%3E%3Cpath d='M368.374 105.349C372.943 107.242 376.494 102.581 373.84 99.4537C371.247 96.3863 362.249 95.2112 362.249 95.2112C362.249 95.2112 359.077 103.696 360.594 107.421C362.13 111.225 367.915 110.269 368.374 105.349Z' fill='%23EED4E7'/%3E%3Cpath d='M362.868 34.8995C356.224 37.6681 351.077 30.8761 354.928 26.3348C358.698 21.8732 371.766 20.1802 371.766 20.1802C371.766 20.1802 376.374 32.5094 374.18 37.9072C371.945 43.4244 363.546 42.0501 362.888 34.8995H362.868Z' fill='%23EED4E7'/%3E%3Cpath d='M368.374 10.5201C372.943 12.4123 376.494 7.75148 373.84 4.62436C371.247 1.557 362.249 0.381836 362.249 0.381836C362.249 0.381836 359.077 8.86688 360.594 12.5915C362.13 16.3959 367.915 15.4398 368.374 10.5201Z' fill='%23EED4E7'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_18_444'%3E%3Crect width='432' height='335' fill='white' transform='translate(-2 0.381836)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top;
	}

	.look_main_bottom {
		display: block;
	}

	.look_main_bottom .look_main_head_bottom {
		display: block;
	}

	.tabsshop {
		justify-content: flex-start;
		padding: 0 20px;
	}

	.look_main_sub_text,
	.look_main_price.container {
		text-align: center;
	}

	.ct_atc_all {
		margin-top: 6px;
	}

	.look_main_bottom {
		text-align: center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='391' height='95' viewBox='0 0 391 95' fill='none'%3E%3Cpath d='M0.908203 0.280273V83.5188C0.908203 89.0417 5.38536 93.5188 10.9082 93.5188H98.1582M389.908 0.409334V83.5189C389.908 89.0417 385.431 93.5188 379.908 93.5188H292.658' stroke='url(%23paint0_linear_311_1023)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_311_1023' x1='195.408' y1='0.280273' x2='195.408' y2='93.5188' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23CF2228'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom;
	}

	.look_main_head_top {
		display: none;
	}

	.look_main_left {
		margin-top: 15px;
	}

	.ct_atc_all {
		margin-bottom: -20px;
	}
}

</style>

<div>
  <div class="tabsshopmain tabsshopmainVelentine">
    <div class="tabsshopmain_head">{{ section.settings.head }} <span>{{ section.settings.head-sb }}</span></div>
    <ul class="tabsshop items_scroll">
      {% for block in section.blocks %}
        <li class="ctreview-box">
          <a href="#tab-{{ forloop.index }}">
            {{ block.settings.btn_text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% for block in section.blocks %}
    <div id="tab-{{ forloop.index }}" class="velentine_tab">
      <div class="look_main">
        <div class="look_main_inner">
          <div class="look_main_right items_scroll ">
            {% if block.settings.image != blank %}
              <div class="look_product ctreview-box ">
                <a href="{{ block.settings.btn_lnk }}" class="full_click"></a>
                <div class="lookImg">
                  <img
                    src="{{ block.settings.image | image_url: width: 1500 }}"
                    data-src="{{ block.settings.image | image_url: width: 1500 }}"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}"
                    alt="{{ block.settings.image.alt }}"
                    class=" Tab_banner"
                  >
                </div>
                <div class="look_content_bg"></div>
                <div class="look_content">
                  <div class="lookTItle">{{ block.settings.title }}</div>
                  <div class="looktext">{{ block.settings.sub_text }}</div>

                  {% if block.settings.btn_lnk != blank %}
                    <div class="lookbtn">
                      <a href="{{ block.settings.btn_lnk }}" class="">
                        Explore
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                          <path d="M7.64301 3.5061L10.838 6.70111L7.64301 9.89611" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1.88989 6.70117H10.7485" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {% if block.settings.image2 != blank %}
              <div class="look_product ctreview-box ">
                <a href="{{ block.settings.btn_lnk2 }}" class="full_click"></a>
                <div class="lookImg">
                  <img
                    src="{{ block.settings.image2 | image_url: width: 1500 }}"
                    data-src="{{ block.settings.image2 | image_url: width: 1500 }}"
                    width="{{ block.settings.image2.width }}"
                    height="{{ block.settings.image2.height }}"
                    alt="{{ block.settings.image2.alt }}"
                    class=" Tab_banner"
                  >
                </div>
                <div class="look_content_bg"></div>
                <div class="look_content">
                  <div class="lookTItle">{{ block.settings.title2 }}</div>
                  <div class="looktext">{{ block.settings.sub_text2 }}</div>

                  {% if block.settings.btn_lnk2 != blank %}
                    <div class="lookbtn">
                      <a href="{{ block.settings.btn_lnk2 }}" class="">
                        Explore
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                          <path d="M7.64301 3.5061L10.838 6.70111L7.64301 9.89611" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1.88989 6.70117H10.7485" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {% if block.settings.image3 != blank %}
              <div class="look_product ctreview-box ">
                <a href="{{ block.settings.btn_lnk3 }}" class="full_click"></a>
                <div class="lookImg">
                  <img
                    src="{{ block.settings.image3 | image_url: width: 1500 }}"
                    data-src="{{ block.settings.image3 | image_url: width: 1500 }}"
                    width="{{ block.settings.image3.width }}"
                    height="{{ block.settings.image3.height }}"
                    alt="{{ block.settings.image3.alt }}"
                    class=" Tab_banner"
                  >
                </div>
                <div class="look_content_bg"></div>
                <div class="look_content">
                  <div class="lookTItle">{{ block.settings.title3 }}</div>
                  <div class="looktext">{{ block.settings.sub_text3 }}</div>

                  {% if block.settings.btn_lnk3 != blank %}
                    <div class="lookbtn">
                      <a href="{{ block.settings.btn_lnk3 }}" class="">
                        Explore
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                          <path d="M7.64301 3.5061L10.838 6.70111L7.64301 9.89611" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1.88989 6.70117H10.7485" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {% if block.settings.image4 != blank %}
              <div class="look_product ctreview-box ">
                <a href="{{ block.settings.btn_lnk4 }}" class="full_click"></a>
                <div class="lookImg">
                  <img
                    src="{{ block.settings.image4 | image_url: width: 1500 }}"
                    data-src="{{ block.settings.image4 | image_url: width: 1500 }}"
                    width="{{ block.settings.image4.width }}"
                    height="{{ block.settings.image4.height }}"
                    alt="{{ block.settings.image4.alt }}"
                    class=" Tab_banner"
                  >
                </div>
                <div class="look_content_bg"></div>
                <div class="look_content">
                  <div class="lookTItle">{{ block.settings.title4 }}</div>
                  <div class="looktext">{{ block.settings.sub_text4 }}</div>

                  {% if block.settings.btn_lnk4 != blank %}
                    <div class="lookbtn">
                      <a href="{{ block.settings.btn_lnk4 }}" class="">
                        Explore
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                          <path d="M7.64301 3.5061L10.838 6.70111L7.64301 9.89611" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1.88989 6.70117H10.7485" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {% if block.settings.image5 != blank %}
              <div class="look_product ctreview-box ">
                <a href="{{ block.settings.btn_lnk5 }}" class="full_click"></a>
                <div class="lookImg">
                  <img
                    src="{{ block.settings.image5 | image_url: width: 1500 }}"
                    data-src="{{ block.settings.image5 | image_url: width: 1500 }}"
                    width="{{ block.settings.image5.width }}"
                    height="{{ block.settings.image5.height }}"
                    alt="{{ block.settings.image5.alt }}"
                    class=" Tab_banner"
                  >
                </div>
                <div class="look_content_bg"></div>
                <div class="look_content">
                  <div class="lookTItle">{{ block.settings.title5 }}</div>
                  <div class="looktext">{{ block.settings.sub_text5 }}</div>

                  {% if block.settings.btn_lnk5 != blank %}
                    <div class="lookbtn">
                      <a href="{{ block.settings.btn_lnk5 }}" class="">
                        Explore
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                          <path d="M7.64301 3.5061L10.838 6.70111L7.64301 9.89611" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1.88989 6.70117H10.7485" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {% if block.settings.image6 != blank %}
              <div class="look_product ctreview-box ">
                <a href="{{ block.settings.btn_lnk6 }}" class="full_click"></a>
                <div class="lookImg">
                  <img
                    src="{{ block.settings.image6 | image_url: width: 1500 }}"
                    data-src="{{ block.settings.image6 | image_url: width: 1500 }}"
                    width="{{ block.settings.image6.width }}"
                    height="{{ block.settings.image6.height }}"
                    alt="{{ block.settings.image6.alt }}"
                    class=" Tab_banner"
                  >
                </div>
                <div class="look_content_bg"></div>
                <div class="look_content">
                  <div class="lookTItle">{{ block.settings.title6 }}</div>
                  <div class="looktext">{{ block.settings.sub_text6 }}</div>

                  {% if block.settings.btn_lnk6 != blank %}
                    <div class="lookbtn">
                      <a href="{{ block.settings.btn_lnk6}}" class="">
                        Explore
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                          <path d="M7.64301 3.5061L10.838 6.70111L7.64301 9.89611" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M1.88989 6.70117H10.7485" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script>
      $(document).ready(function() {
      $('ul.tabsshop').each(function(){
        var active, content, links = $(this).find('a');
        active = links.first().addClass('active');
        content = $(active.attr('href'));
        links.not(':first').each(function () {
          $($(this).attr('href')).hide();
        });
        $(this).find('a').click(function(e){
          active.removeClass('active');
          content.hide();
          active = $(this);
          content = $($(this).attr('href'));
          active.addClass('active');
          content.show();
          return false;
        });
      });
    });











                  var sliders = document.querySelectorAll('.items_scroll');
  var isDown = false;
  var startX;
  var scrollLeft;

  sliders.forEach(slider => {
    slider.addEventListener('mousedown', (e) => {
      isDown = true;
      slider.classList.add('active');
      startX = e.pageX - slider.offsetLeft;
      scrollLeft = slider.scrollLeft;
    });

    slider.addEventListener('mouseleave', () => {
      isDown = false;
      slider.classList.remove('active');
      enableLinks(); // Re-enable links on mouse leave
    });

    slider.addEventListener('mouseup', () => {
      isDown = false;
      slider.classList.remove('active');
      enableLinks(); // Re-enable links on mouse up
    });

    slider.addEventListener('mousemove', (e) => {
      if (!isDown) return;
      e.preventDefault();
      const x = e.pageX - slider.offsetLeft;
      const walk = (x - startX) * 1; // scroll-fast
      slider.scrollLeft = scrollLeft - walk;
      disableLinks(); // Disable links when scrolling horizontally
    });
  });

  function disableLinks() {
    var links = document.querySelectorAll('.items_scroll .ctreview-box');
    links.forEach(link => {
      link.style.pointerEvents = 'none'; // Disable link clicks
    });
  }

  function enableLinks() {
    var links = document.querySelectorAll('.items_scroll .ctreview-box');
    links.forEach(link => {
      link.style.pointerEvents = 'auto'; // Re-enable link clicks
    });
  }
</script>

{% schema %}
{
  "name": "Valentine Tab",
  "settings": [
      {
      "type": "text",
      "id": "head",
      "label": "Heading",
      "default": "Love That"
    },
    {
      "type": "text",
      "id": "head-sb",
      "label": "Sec. heading",
      "default": "Shines"
    }
  ],
  "blocks":[{
  "type":"Box",
  "name":"Look Box",
  "limit":8,
  "settings":[
  
    {
      "type": "text",
      "id": "btn_text",
      "label": "Tabing Text"
    },

    {
      "type":"header",
      "content":"Card 1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title Text"
    },
    {
      "type": "text",
      "id": "sub_text",
      "label": "Sub Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Image"
    },
    {
      "type": "url",
      "id": "btn_lnk",
      "label": "Link"
    },


    {
      "type":"header",
      "content":"Card 2"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title Text"
    },
    {
      "type": "text",
      "id": "sub_text2",
      "label": "Sub Text"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Banner Image"
    },
    {
      "type": "url",
      "id": "btn_lnk2",
      "label": "Link"
    },


    {
      "type":"header",
      "content":"Card 3"
    },
    {
      "type": "text",
      "id": "title3",
      "label": "Title Text"
    },
    {
      "type": "text",
      "id": "sub_text3",
      "label": "Sub Text"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Banner Image"
    },
    {
      "type": "url",
      "id": "btn_lnk3",
      "label": "Link"
    },


    {
      "type":"header",
      "content":"Card 4"
    },
    {
      "type": "text",
      "id": "title4",
      "label": "Title Text"
    },
    {
      "type": "text",
      "id": "sub_text4",
      "label": "Sub Text"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Banner Image"
    },
    {
      "type": "url",
      "id": "btn_lnk4",
      "label": "Link"
    },


    {
      "type":"header",
      "content":"Card 5"
    },
    {
      "type": "text",
      "id": "title5",
      "label": "Title Text"
    },
    {
      "type": "text",
      "id": "sub_text5",
      "label": "Sub Text"
    },
    {
      "type": "image_picker",
      "id": "image5",
      "label": "Banner Image"
    },
    {
      "type": "url",
      "id": "btn_lnk5",
      "label": "Link"
    },


    {
      "type":"header",
      "content":"Card 6"
    },
    {
      "type": "text",
      "id": "title6",
      "label": "Title Text"
    },
    {
      "type": "text",
      "id": "sub_text6",
      "label": "Sub Text"
    },
    {
      "type": "image_picker",
      "id": "image6",
      "label": "Banner Image"
    },
    {
      "type": "url",
      "id": "btn_lnk6",
      "label": "Link"
    }









  ]
}],
  "presets":[{
        "name": "Valentine Tab"
  }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
